* {
    margin:0;
    padding: 0;
}

body {
    background-color:rgb(255, 245, 253); 
    
    background-image: url(skull-troll.gif);
    margin: 0;
    /*gif src: https://tenor.com/view/skull-troll-gif-26308679 */
}

main {
    background-color: rgb(238, 197, 221);
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgb(35, 0, 23);
    border: 2vh double rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 3%;

    margin: 2vh auto;
    width: 100vh;
    height: 96vh;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    box-shadow: 0 0 4vh 1vh rgb(113, 107, 112),
                0 0 0 0vh,
                0 0 0 0vh;
}

hr {
    border: 0.5vh solid  rgb(197, 151, 178);
    margin-bottom: 4vh;
    border-radius: 4vh;
}
h1 {
    font-size: 35px;
    color: rgb(92, 13, 54);
    text-align: center;
    margin: 4vh 0;
}

h2 {
    color: rgb(58, 14, 37);
    margin: 2vh 0 1vh 0;
}

.contact {
    text-align: center;
}

.contact > p {
    display: inline-block;
    margin: 1vh;
}

.contact > hr {
    margin-top: 10vh;
    margin-bottom: 1vh;
}
a:link {
    color:rgb(10, 106, 131);
}

a:hover {
    color:rgb(102, 171, 190);
}

a:visited {
    color:rgb(179, 11, 11);
}